
.Product {
    position: relative;
    width: 400px;
    margin: 10px 0px;
}
.Product-name {
    font-size: large;
    font-weight: bold;
}

.Product-cost {
    padding: 10px;
}

.Product > button {
    font-size: small;
}

.Credit > Button {
    margin: 0 10px
}